@font-face {
	font-family: 'EndField';
	src: url('@/assets/fonts/fonts.ttf') format('truetype');
}

:root,
span {
	font-family: 'EndField', sans-serif;
}

:root,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	display: flex;
	background-color: rgb(8, 10, 34);
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.app {
	display: flex;
}
