@import "tailwindcss";

@font-face {
  font-family: 'ZhihuiWuwaiRFHuiti';
  src: url('../assets/fonts/zhihuiwuwairfhuiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* 背景色 */
  --color-bg-main: #121212;        /* 主背景 */
  --color-bg-card: #1E1E1E;        /* 卡片背景 */
  --color-bg-sidebar: #1A1A1A;     /* 侧边栏背景 */
  
  /* 文本色 */
  --color-text-main: #FFFFFF;       /* 主文本 */
  --color-text-gray: #A0A0A0;       /* 次要文本 */
  --color-text-reverse: #000000;       /* 反色文本 */
  
  /* 强调色 */
  --color-accent: #FEFA53;         /* 强调黄色 */
  
  /* 边框色 */
  --color-border: #333333;            /* 边框 */

  --font-remixicon: 'remixicon', sans-serif;
}

/* Global Styles */
body {
  font-family: 'ZhihuiWuwaiRFHuiti', sans-serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

* {
  font-family: 'ZhihuiWuwaiRFHuiti', sans-serif;
}

/* Custom Scrollbar Utility */
@layer utilities {
  .scrollbar-thin-dark::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  .scrollbar-thin-dark::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
